body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #11152C;
    color: #FFFFFF;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 16px;
    height: 70px;
    border-bottom: 1px solid #858585;
    background: #11152C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 54px;
}

header .menu-logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.3s;
}
header .menu-logo:hover { /* Added hover effect */
    transform: scale(1.2);
} 
header .mobile-menu { /* Added mobile menu */
    display: flex; 
    position: absolute;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: #11152C; 
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #858585;
    z-index: 99; 

    /* появление при нажатии */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.4 ease;
}
header .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
}
header .mobile-menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


header .tittle-header {
    font-size: 24px;
    font-weight: bold;
}

main .category .tag {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #858585; /* Цвет как у полоски в хедере */
    border-radius: 9px;        /* Твой радиус из кода */
    background: transparent;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 5px;
}

.category {
    display: flex;
    overflow: auto;
    margin-top: 24px;
    padding: 0 16px 10px;
    justify-content: space-between;
}

.category .tag:hover {
    background: #11152C;
    border-color: #FFFFFF;
    transform: translateY(-2px);
}

footer {
    margin-top: 50px;
    margin-bottom: 16px;
    padding: 0 16px;
}

footer .footer-logo {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}

footer .list-documents {
margin: 24px 0;
list-style: none;
padding: 0;
}

footer .list-documents li {
    margin-bottom: 16px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #FFFFFF
}

a:hover {
    text-decoration: underline;
}

footer .contact ul {
    list-style: none;
    padding: 0;
}

footer .contact h3 {
    text-align: center;
    margin-bottom: 24px;
}

footer .contact li {
    text-align: center;
    margin-bottom: 16px;
}

footer .contact li a {
    text-decoration: underline;
    opacity: 0.5;
}

footer .rights {
    text-align: center;
    font-size: 12px;
    color: #858585;
    opacity: 0.5;
}